<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{block "meta" .}}
        <meta property="og:title" content="Introducing Base Hairdressing">
        <meta property="og:description" content="Base Hairdressing is a training academy for the next generation of super skilled stylists">
        <meta property="og:image" content="dist/images/Base_FB.jpg">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="628">
        <meta property="og:url" content="https://www.basehairdressing.com">

        <title>Base Hairdressing - Hairdressers in Warrington</title>
    {{end}}

    <link rel="stylesheet" href="/dist/app.css">
    <link rel="stylesheet" href="https://use.typekit.net/uyj6eus.css">
</head>
<body>
    <div id="app">
        <nav class="navbar is-transparent is-fixed-top is-spaced" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="#home" class="navbar-item js-scroll-to-top">
                        Home
                    </a>

                    <a href="#about" class="navbar-item js-scroll-to-about">
                        About Us
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            <a href="#team" class="navbar-item js-scroll-to-team">
                                Team
                            </a>
                            <a href="#joinus" class="navbar-item js-scroll-to-joinus">
                                Join Us
                            </a>
                            <hr class="navbar-divider">
                            <a href="#models" class="navbar-item js-scroll-to-models">
                                Model Register
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="#booking" class="button is-primary js-scroll-to-bottom">
                                <strong>Book Now</strong>
                            </a>
                            <a href="#contact" class="button is-light js-scroll-to-contact">
                                Contact Us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {{template "content" .}}
    </div>

    <script src="/dist/app.js"></script>
</body>
</html>