{{define "content"}}
{{template "nav-novue"}}
    <div class="hero-body columns">
        <div class="section column is-6">
            <h1 class="title">Contact Us</h1>
            <h2 class="subtitle">Find out where we are and how to get in touch</h2>
            <p>More info cnksjdbvbsdmnv ksjdfhkjhfkjhsd kfjsdhfkhskdfh fjhksdhkfs</p>
        </div>
    </div>
{{end}}