{{define "content"}}

<home-component></home-component>

<about-component></about-component>

<salon-component></salon-component>

<blog-component></blog-component>

<team-component></team-component>

<joinus-component></joinus-component>

<model-component></model-component>

<booking-component></booking-component>

<contact-component></contact-component>

{{end}}
