{{define "content"}}
    <div class="hero-body">
        <div class="section column is-6">
            <h1 class="title">Join Base</h1>
            <h2 class="subtitle">Could you be the next big thing in hairdressing</h2>
            <p>More info ajshdakjhdkja aksdjhdkjas akdsjhkjash</p>
        </div>
    </div>
{{end}}