{{define "content"}}
{{template "nav-novue"}}
    <div class="hero-body columns">
        <div class="section column is-6">
            <h1 class="title">Sign Up to be a model</h1>
            <h2 class="subtitle">Large subtitle</h2>
            <p>More info asjhdkjhakhsdka  aksjhfdkasjhfa kasjfhkasjhf kjahsfkjhs</p>
        </div>
    </div>
{{end}}