// $primary: #333;
$navbar-item-color: #FFF;
$navbar-item-hover-background-color: rgba(25,25,25,.7);
$navbar-dropdown-background-color: rgba(25,25,25,.7);

$card-background-color: rgba(0,0,0,0.8);
$card-shadow: 0 0 1px 0 rgb(255,255,255);

$lightest-grey: #dce2f2;
$light-grey: #99aabf;
$light-arctic: #6d808c;
$dark-arctic: #425559;
$darkest-arctic: #0d0d0d;

@import "node_modules/bulma/bulma.sass";
@import "~buefy/src/scss/buefy";

li {
  line-height: 1.5rem;
  list-style-type: square;
  margin-left: 1rem;
}

.navbar {
  background: transparent;
}

a.navbar-burger {
  &:hover {
      color: #FFF;
    background-color: rgba(10,10,10,.5);
  }
  background-color: rgba(10,10,10,.5);
}

.navbar-menu {
  @include until($desktop) {
    background-color: rgba(10,10,10,.5);

    .navbar-dropdown {
      a.navbar-item {
        font-size: 1rem;
      }
    }

    a.navbar-item {
      padding-left: 0.75rem;

      &:hover {
        color: #FFF;
      }
    }
  }
}

strong {
  color: currentColor;
  font-weight: bolder;
}

.hero.is-fullheight .hero-body.show {
  align-items: flex-end;
  h1 {
    font-size: 4rem;
    @include until($desktop) {
      font-size: 3rem;
    }
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }

  h2 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 1.7rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.columns:last-child {
  margin-bottom: 0;
  margin-top: 0;
}

html {
  background-color: black;
}

h1, h2 {
  font-family: itc-american-typewriter, serif;
  font-weight: 500;
  font-style: normal;
}

p {
  margin-bottom: 1rem;
}

section.section {
  @include from($tablet) {
    padding: 6rem 4rem 4rem 4rem;
  }
}

/* Page Background Styling */

#home {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0, 0, 0, 0.5)), url("/dist/img/bgrounds/b6.jpg") center center no-repeat;
  background-size: cover;

  .social {
    margin-top: 2rem;
    img {
      opacity: .7;
      &:hover {
        opacity: 1;
      }
    }
  }
  figure {
    margin-bottom: 2rem;
  }
  .directory {
    opacity: .7;
    padding-left: 3rem;
    a {
      color: coral;
    }
  }
}

.about {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)), url("/dist/img/bgrounds/b1.jpg") center top no-repeat;
  background-size: cover;
}

.about-info {
  background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url("/dist/img/bgrounds/b1.jpg") center top no-repeat;
  background-size: cover;
}

.team {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)), url("/dist/img/bgrounds/base-team-bg.jpg") center center no-repeat;
  background-size: cover;
}

.team-info {
  background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url("/dist/img/bgrounds/base-team-bg.jpg") center top no-repeat;
  background-size: cover;
}

.joinus {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)), url("/dist/img/bgrounds/b2.jpg") center top no-repeat;
  background-size: cover;
}

.joinus-info {
  background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url("/dist/img/bgrounds/b2.jpg") center top no-repeat;
  background-size: cover;
}

.models {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)), url("/dist/img/bgrounds/b5.jpg") center top no-repeat;
  background-size: cover;
}

.models-info {
  background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url("/dist/img/bgrounds/b5.jpg") center top no-repeat;
  background-size: cover;
}

.offers {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)), url("/dist/img/bgrounds/offers.jpg") center top no-repeat;
  background-size: cover;
}

.offers-info {
  background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url("/dist/img/bgrounds/offers.jpg") center top no-repeat;
  background-size: cover;
}

.blog {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)), url("/dist/img/bgrounds/b3.jpg") center top no-repeat;
  background-size: cover;
}

.blog-info {
  background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url("/dist/img/bgrounds/b3.jpg") center center no-repeat;
  background-size: cover;
}

.contact {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)), url("/dist/img/bgrounds/b7.jpg") center top no-repeat;
  background-size: cover;
}

.contact-info {
  background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url("/dist/img/bgrounds/b7.jpg") center top no-repeat;
  background-size: cover;
}

.bookings-info {
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.65)), url("/dist/img/bgrounds/bookings.jpg") center top no-repeat;
  background-size: cover;
  @include until($tablet) {
    background: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)), url("/dist/img/bgrounds/bookings.jpg") -20rem top no-repeat;
    background-size: cover;
  }
}

.corona {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)), url("/dist/img/bgrounds/corona_1.jpg") center top no-repeat;
  background-size: cover;
}

.corona-info {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("/dist/img/bgrounds/corona_2.jpg") center top no-repeat;
  background-size: cover;
}



/* Review Feed */

.review-feed {
  position: absolute;
  bottom: 1.5rem;
  right: 3rem;
  width: 18rem;
  height: auto;
  @include from($desktop) {
    bottom: 3rem;
  }


  p {
    font-size: .5rem;
    margin-bottom: 0;
  }

  p:first-of-type {
    font-size: .7rem;
    margin-bottom: .7rem;
  }
}

#team-member {
  .review-feed {
    position: relative;
    width: auto;
    top: 0;
    right: 0;
  }
}

#corona-copy {
  h3 {
    margin-bottom: .4rem;
  }

  p {
    margin-bottom: 1.7rem;
  }
}

.corona-warning {
  @include until($tablet) {
    .button.is-warning {
      font-size: .6rem;
    }
  }
}

/* transition styling */

.fade-enter, .fade-leave-active {
   opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .15s;
}