$primary: #333;
$navbar-item-color: #FFF;
$navbar-item-hover-background-color: rgba(25,25,25,.7);
$navbar-dropdown-background-color: rgba(25,25,25,.7);

@import "node_modules/bulma/bulma.sass";

html {
  background-color: black;
}

a.navbar-item {
  font-family: itc-american-typewriter, serif;
  font-weight: 500;
  font-style: normal;
}

h1, h2 {
  font-family: itc-american-typewriter, serif;
  font-weight: 500;
  font-style: normal;
}

#home {
  background: url("/dist/img/bground.jpg") center -6rem no-repeat;
  background-size: cover;
  @include until($tablet) {
    background: url("/dist/img/bground.jpg") center center no-repeat;
    background-size: cover;
  }

  figure {
    margin-bottom: 3rem;
  }
}

#team {
  background: url("/dist/img/bground2.jpg") center top no-repeat;
  background-size: cover;
}

#contact {
  background: url("/dist/img/bground3.jpg") center top no-repeat;
  background-size: cover;
}