$primary: #333;
$navbar-item-color: #FFF;
$navbar-item-hover-background-color: rgba(25,25,25,.7);
$navbar-dropdown-background-color: rgba(25,25,25,.7);

$lightest-grey: #dce2f2;
$light-grey: #99aabf;
$light-arctic: #6d808c;
$dark-arctic: #425559;
$darkest-arctic: #0d0d0d;

@import "node_modules/bulma/bulma.sass";

//.navbar {
//  background-color: transparent;
//}

.hero.is-fullheight .hero-body.show {
  align-items: flex-end;
  h1 {
    font-size: 4rem;
  }
}

html {
  background-color: black;
}

h1, h2 {
  font-family: itc-american-typewriter, serif;
  font-weight: 500;
  font-style: normal;
}

p {
  margin-bottom: 1rem;
}

#home {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("/dist/img/bgrounds/b6.jpg") center top no-repeat;
  background-size: cover;

  figure {
    margin-bottom: 3rem;
  }
}

#about {
    background: url("/dist/img/bgrounds/b1.jpg") center top no-repeat;
    background-size: cover;

  img {
    margin-bottom: 1.3rem;
  }
}

#salon {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("/dist/img/bgrounds/base-inside.jpg") center top no-repeat;
  background-size: cover;
}

#team {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/dist/img/bgrounds/base-team-bg.jpg") center top no-repeat;
  background-size: cover;
}

#blog {
  background: url("/dist/img/bgrounds/b4.jpg") center top no-repeat;
  background-size: cover;
}

#joinus {
  background: url("/dist/img/bgrounds/b2.jpg") center top no-repeat;
  background-size: cover;
}

#models {
  background: url("/dist/img/bgrounds/b5.jpg") center top no-repeat;
  background-size: cover;
}

#booking {
  background: url("/dist/img/bgrounds/b3.jpg") center top no-repeat;
  background-size: cover;
}

#contact {
  background: url("/dist/img/bgrounds/b7.jpg") center top no-repeat;
  background-size: cover;
}

.showInfo {
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
}